header {
    display: flex;
    direction: row;
    margin-top: 0.5%;
    margin-left: 0.7%;
}

#title {
    color: blue;
    font-family: 'Montez', cursive;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
}

#subtitle {
    margin-top: -2px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}

#logo {
    width: 83%;
}

#sign-btn {
    margin-top:0.5%;
    width: 17%;
}

#sign-btn > button {
    background-color: blue;
    color: white;
    border: 1px solid grey ;
    padding: 7px 14px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1205px) {
  #logo {
    width: 70%;
  }
  #sign-btn {
    margin-top:0.5%;
    width: 30%;
  }
}

@media screen and (max-width: 695px) {
  #logo {
    width: 50%;
  }
  #sign-btn {
    margin-top:0.5%;
    width: 50%;
  }
}

