body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: block;
    margin-right: 10px;
}

#content-container > button {
    background-color: gold;
    padding: 6px 5px;
    border: 1.6px solid grey;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 20px;
    width: 10%;
    height: 5%;
    cursor: pointer;
}
#content-container {
    margin-left: 0.7%;
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

@media screen and (max-width: 1125px) {
    #content-container > button {
        margin-left: 20px;
        margin-right: 10px;
        width: 10%;
    }
    
}

@media screen and (max-width: 775px) {
    #content-container > button {
        width: 15%;
    }
    
}