body {
    background-color: #ffeedd;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    justify-content: center;
    padding: 0 2.6%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.post-card {
    width: 45%;
    display: flex;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
}

.user {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 3%;
}

.container {
    /* position: relative; */
    background-color: #eee;
        padding: 10px 20px 0px 16px;
    /* overflow: hidden; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.container > p {
    margin-top: -2px;
    overflow: hidden;
    height: 75px;
    font-size: medium;
    line-height: 1.5;
}


.card-heading > p {
    margin-top: 2px;
    color: grey;
    margin-right: 10px;
    padding-right: 45px;
    margin-bottom: 14px;
    font-size: large;
}

.card-heading {
    position: relative;
    padding-top: 5px;
    padding-bottom: 2px;
}

.trash {
    position: absolute;
    color: grey;
    left: 95%;
    font-weight: bolder;
    font-size: 14px;
    top: 8.5px;
    cursor: pointer;
}

.ellipsis-1 {
    position: absolute;
    color: grey;
    left: 95%;
    /* height: 20px; */
    font-weight: bolder;
    font-size: 15px;
    bottom: 50%;
    cursor: pointer;
}

.post-card:hover {
    box-shadow: 1px 5px 10px 5px #977e8e;
}

body.confirm-del-post .modal-popup {
    display: block;
}

body.confirm-del-post #del-popup {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-weight: 900;
}

#yes-btn {
    background-color:green;
    width: 30%;
    margin-top: 10px;
}

#no-btn {
    margin-top: 10px;
    float: right;
    width: 30%;
    background-color: red;
}

#confirm-pop {
    width: 27%;
    height: 30%;
}

